<% content_for :title, "New event" %>

<section>
  <h1>New event</h1>
</section>

<div class="content">
  <section>
    <div class="section-content">
      <%= render "form", event: @event %>
    </div>
  </section>
</div>

<section>
  <div>
    <%= link_to "Back to events", events_path %>
  </div>
</section>
