<footer>
    <div>
        <p>This project is a test</p>
        <p>This is a footer</p>
    </div>
    <div>
        <p>Contact me now <a href="https://www.google.com">here</a></p>
    </div>
    <div>
        <p>Tayles project</p>
        <p>2025_2026</p>
    </div>
</footer>